h1 {
	margin-left: 10%;
	color: black;
}

#content {
	margin-left: 10%;
	margin-right: 10%;
	border-left: solid;
	border-color: #800000;
	font-size:20px;
	
}

#content p {
	padding-left: 12px;
}

h2 {
	margin-left: 10%;
}
#blah {
	margin-left: 10%;
	color: #800000;
	font-size: 17px;
}